[Desktop Entry]
Encoding=UTF-8
Name=Link to 
Type=Link
URL=file:///media/hishamsajid/Academics/6th%20Semester/Systems%20Programming/ProjectWithSockets/server.c
Icon=text-x-csrc
